.content{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

}
.userProfile {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    align-items: center;
    justify-content: flex-start;
    background-color: #f5f5f5;
}
.chatList {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 7;
    justify-content: center;
    border-left: 1px solid rgb(227, 227, 227);
    border-right: 1px solid rgb(227, 227, 227);
}
.home-chatArea{
    display: grid;
    grid-column-start: 7;
    grid-column-end: 16;
    width: 100%;
    background-color: #f5f5f5;
}
