.chat-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.search-bar {
    margin-bottom: 10px;
}

#search {
    background-color: #F8F8F8;
    width: 27vw;
    padding: 15px;
    /* border: 1px solid rgb(70, 70, 70); */
    border: none;
    border-radius: 10px;
    outline: none;
}

.user-btn {
    display: flex;
    align-items: center;
    width: 28vw;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: transparent;
    text-decoration: none;
}
.user-button {
    display: flex;
    align-items: center;
    width: 28vw;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: transparent;
    text-decoration: none;
}
.user-button:hover {
    background-color: #f0f0f0;
}

.user-button img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 29vw;
}
.header .fa-user-group{
    color: rgb(70, 70, 70);
}
.header h2{
    color: rgb(70, 70, 70);
}