body{
    color: black;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid #ccc;
  }
  
.login-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    width: 300px;
    padding: 3vw;
  }
  .avatar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 25vw;
  }

  .imageUpload{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 40px;
    right: 50px;
    width: 4.5vw;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
  }
  .avatar {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    border-radius: 50%; /* Make it circular */
  }
  
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.signup-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    width: 300px;
    padding: 3vw;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="password"],input[type="email"], input[type="name"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .login-button {
    width: 21vw;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .signup-button {
    width: 21vw;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .switch-page-text {
    text-align: center;
    color: #007bff;
    cursor: pointer;
  }
  
  .switch-page-text:hover {
    text-decoration: underline;
  }
  