.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: white;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: color 0.3s;
}

.login-btn {
  padding: 8px 20px;
  color: #000000;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
}
