.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: white;
  width: 100%;
}
.header .logo{
  font-weight: 700;
  font-size: 1.5rem;
}
.nav {
  display: flex;
  align-items: center;
  /* gap: 30px; */
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.login-btn {
  padding: 8px 20px;
  color: white;
  background-color: #000;
  border: none;
  border-radius: 8px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}

